@import "bootstrap/dist/css/bootstrap.rtl.min.css";

body {
    color: #000;
    background-image: url('/img/background.svg');
    background-size: 200px;
}

#content {
    padding: 20px;
    border-radius: 30px;
    background-color: #ffffff7f;
}